<div class="navbar">
  <%= link_to "OMOB", '#', class: "logo" %>
  <ul class="nav-links pull-right">
    <li><%= link_to "Home",  root_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Help",    '#' %></li>
    <li><%= link_to "Sign in", '#' %></li>
  </ul>
</div>
